<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.3.3" targetFramework="net40" />
  <package id="Castle.Core-NLog" version="3.3.3" targetFramework="net40" />
  <package id="Castle.LoggingFacility" version="3.3.0" targetFramework="net40" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net40" />
  <package id="Dapper" version="1.42" targetFramework="net40" />
  <package id="Dapper.Contrib" version="1.43" targetFramework="net40" />
  <package id="NLog" version="4.2.3" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40-Client" />
</packages>